<html>
	<head>
		<title>random insult generator</title>
		<style>
			html, body {
				height: 100%;
				margin: 0;
				padding: 0;
				width: 100%;
			}

			body {
				display: table;
			}

			div {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		</style>
	</head>
	<body>
		<div><h1>{{ swear }}</h1></div>
	</body>
</html>
